// styles applied on :host are applied on the current component, "app" in this case

my-app {
  .main {
    margin-top: 5.5rem;
  }
}

header {
  background-color: $dark-gray;
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;
  z-index: 120;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

  .row a {
    padding: .5rem 1rem;
    color: $white;
    text-align: center;
    display: block;
    width: 23%;
     > *,
       & {
       transition: all 200ms ease-in-out;
     }
    span {
      display: none;
      font-size: .8rem;
      line-height: 1;
    }
    i {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    &.active {
      width: 31%;
      span {
        display: block;
      }
      i {
        font-size: 2rem;
        line-height: 1;
      }
    }
    &.active,
    &:hover {
      background-color: $sonarr-blue;
    }

  }
}

footer {
  text-align: center;
  font-size: 0.8em;
}
