// styles in src/style directory are applied to the whole page
@import "settings";

@include foundation-everything(true);
@import "./app.component";

main {
  margin-top: 4rem;
}

body {
  background-color: $medium-gray;
  color: $dark-gray;
  overflow: hidden;
}

main > * {
  background-color: $medium-gray;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 .65rem 1rem .65rem;

  max-height: calc(100vh - 4rem);
  &:nth-child(2) {
    z-index: 100;
    //position: absolute;
    left: 0;
    right: 0;
    height: 100%;

  }
  &:nth-child(3) {
    z-index: 80;
    //position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.static {
  //position: absolute;
  //top: 0;
  //left: 0;
  overflow: hidden;
  //width: 100%;
  //height: 100%;
  //max-height: 100vh;
}

.episode {
  padding: 1rem 0;
  border-bottom: .125rem solid $sonarr-blue;

  .monitored-indicator {
    .material-icons {
      font-size: 2.5rem;
      color: $dark-gray;
      line-height: 1;
    }
  }
}

show {
  @include card-container();
  display: block;
  margin: .5rem 0;
  //background-color: $medium-gray;
  //color: $dark-gray;
  cursor: pointer;

  &:hover {
    background-color: darken($white, 20%)
  }

  .small-8 {
    padding: 0 .5rem 0 1rem;
  }

  .series-title {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2rem;
    font-weight: bold;
    //color: $white;
  }

  .monitored-indicator {
    .material-icons {
      font-size: 2.5rem;
      //color: $white;
      line-height: 1;
    }
  }
}

series-details {
  display: block;
  background-color: $black;
  position: absolute !important;
  top: 0;
  .banner {
    //position: absolute;
    margin-bottom: -2rem;
    margin-top: -1rem;
  }

  .network {
    font-weight: bold;
  }

  .show-poster {
    padding: 0 .5rem 1rem .625rem;
    img {
      box-shadow: 3px 3px 3px $dark-gray;
    }
  }

  .show-info {
    h2 {
      color: $white;
      text-shadow: 3px 3px 6px $dark-gray;
      font-weight: bold;
    }
    .label {
      margin: 0 .5rem;
    }
  }

  .summary {
    margin-top: 1rem;
    border-top: thin solid $medium-gray;
    padding: 1rem 0.625rem 0 0.625rem;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin: 0 .5rem;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.accordion-title {
  padding: .65rem 1rem;
  h3 {
    margin: 0;
  }

  .label {
    font-size: 0.9rem;
    line-height: 1;
    float: right;
    margin-right: 1.2rem;
  }
}

.accordion-content {
  padding-top: 0;
}

.episode {
  @include card-container();
  .series-title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
  }
}

.label {
  border-radius: .25rem;
  font-weight: bold;
  &.success {
    background-color: $success-color;
    color: $white;
  }
}

.accordion {
  margin: 0;
}

series series-details {
  left: 0;
  right: 0;
  top: 4rem;
  bottom: 0;
  max-height: 100vh;
  margin: 0 -.5rem;
  //overflow-y: auto;
  //overflow-x: hidden;
  padding: 1rem;

  width: auto !important;
}
