<div class="serie-general row" *ngIf="show" [routerLink]="['/series', show.id]" (click)="selectShow(show)">
  <div class="small-2 columns">
    <img id="poster" [src]="getPoster()">
  </div>
  <div class="small-8 columns">
    <h6 id="title" class="series-title">{{show.title}}</h6>
    <span id="network" class="label secondary hide">{{show.network}}</span>
    <span id="episodesCount" class="label regular">{{show.episodeFileCount}}/{{show.totalEpisodeCount}}</span>
    <span id="status" class="label success">{{show.status}}</span>
  </div>
  <div class="small-2 columns">
    {{show.monitored ? 'monitored' : 'not monitored'}}
  </div>
</div>
