#
# DONT CHANGE THIS FILE!
# You can change this file in the 'base-client' repository
# And merge it into the client repositories using the job 'maxxton-update-build-config' in Jenkins
#
registry "https://nexus.maxxton.com/repository/npm-group/"
