.main-section__title {
  display: block;
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 64px;
  background-color: #fff;
}


.list-row { 
 border-bottom: .075rem solid #ddd; 
}

.fullwidth { 
  width: 100%; 
  text-align: left!important; 
}

.banner { 
  left: 0;
  top: 0;
  background-image: url("http://nas.tomreinartz.com:8989/MediaCover/1/fanart.jpg?lastWrite=635556457970000000");
  background-size: cover;
  background-position: center center;
  height: 12rem;
/*
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.75);
*/
}

.poster { 
  position: relative;
  height:5rem;
  width: 12rem;
  margin-left: 1rem;
  margin-top: -7rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
}

.show-info { 
  width: auto;
  margin-left: 14rem;
  margin-top: 2rem;
  height: 12rem;
}