<div class="show" *ngIf="show" [@routerTransition]="">
  <div class="row banner">
    <img [src]="getBanner()" style="width: 100%; height: auto;">
  </div>
  <div class="row show-information">
    <div class="small-4 poster"><img
      [src]="getPoster()"
      style="width: 100%; height: auto;"></div>
  </div>
  <div class="small-7 small-offset-5 show-info">
    <h2><span id="title">{{show.title}}</span></h2>
    <h6 id="start-year"><i class="fi-social-picasa"></i>Started {{show.firstAired}}</h6>
    <h6 id="show-status"><i class="fi-play"></i>{{show.status}}</h6>
    <h6><i class="fi-book"></i><span id="seasons">Seasons {{show.seasonCount}}</span><span id="episodes"
                                                                                           class="label regular">{{show.episodeFileCount}}/{{show.totalEpisodeFileCount}}</span>
    </h6>
    <h6><i class="fi-calendar"></i><span id="air-time">{{show.airTime}}</span> on <span id="network"
                                                                                        class="network label secondary round">{{show.network}}</span>
    </h6>
  </div>
  <div class="small-12">
    <p id="summary" class="summary">{{show.overview}}</p>
  </div>
  <hr>
  <!--a list of episodes will be shown here-->
  <h3>Seasons</h3>
  <ul class="accordion">
    <li *ngFor="let season of show.seasons" class="accordion-item">
      <a class="accordion-title" (click)="activeSeason == season.seasonNumber ? activeSeason = null : activeSeason = season.seasonNumber">
        <h3>{{season.seasonNumber}}</h3></a>
      <div class="accordion-content"
           [style.display]="activeSeason == season.seasonNumber ? 'block' : 'none'">
        <p *ngIf="!episodes || !episodes.length">Loading...</p>
        <episode *ngFor="let item of getEpisodesForSeason(season.seasonNumber)" [episode]="item"></episode>
      </div>
    </li>
  </ul>


</div>
