<div class="row episode">
  <div class="small-10 columns episode-info">
    <div class="series-title">{{episode?.series?.title}}</div>
    <div class="episode-title">
      <span class="episodenum">{{getEpisodeNumber()}}</span>
      <span class="episodename">{{episode?.title}}</span>
    </div>
    <div class="episode-info">
      <span class="label secondary">Missing </span>
      <span class="date">Aired 20 hours ago</span>
    </div>
  </div>
  <div class="small-2 columns watched-indicator fi-bookmark">
  </div>
</div>
