// styles in src/style directory are applied to the whole page

@import "../../node_modules/foundation-sites/scss/foundation";

$dark-gray: #1a1a1a;
@include foundation-everything(true);

main {
  margin-top: 5.5rem;
}

body {
  background-color: $dark-gray;
  color: $medium-gray;
}
