<div class="clearfix small-12">
  <h3 class="fullwidth btn btn--l btn--blue btn--raised" lx-ripple ng-click="showWanted = !showWanted" lx-ripple>
    Wanted {{totalMissing}}
  </h3>

  <div classs="small-12" ng-repeat="episode in missing" data-ng-include data-src="'partials/episode.html'" ng-show="showWanted"></div>
</div>
<div class="clearfix small-12">
  <h3 class="fullwidth btn btn--l btn--blue btn--raised" lx-ripple  ng-init="showToday = true" ng-click="showToday = !showToday">
    Today
  </h3>

  <div classs="small-12" ng-repeat="episode in today" data-ng-include data-src="'partials/episode.html'"  ng-show="showToday"></div>
</div>
<div class="clearfix small-12">
  <h3 class="fullwidth btn btn--l btn--blue btn--raised" lx-ripple  ng-init="showTomorrow = true" ng-click="showTomorrow = !showTomorrow">Tomorrow</h3>
  

  <div classs="small-12" ng-repeat="episode in tomorrow" data-ng-include data-src="'partials/episode.html'"  ng-show="showTomorrow"></div>
</div>
<div class="clearfix small-12">
  <h3 class="fullwidth btn btn--l  btn--blue btn--raised" lx-ripple ng-click="showLater = !showLater">Later</h3>
  <h4></h4>

  <div classs="small-12" ng-repeat="episode in later | orderBy : 'airDate'" data-ng-include data-src="'partials/episode.html'" ng-show="showLater"></div>
</div>