
<div class="episode" ng-controller="episodeController">
  <!--list-row--has-primary-->
  <div class="grid-block" ng-click="showDownloadButtons = !showDownloadButtons">

    <div class="list-content-tile list-content-tile--two-lines grid-block wrap">
      <div class="small-10 grid-block wrap">
        <div class="small-12 grid-block"><h4>{{::episode.showTitle}}</h4><h6 class="subheader">: {{::episode.number}}</h6></div>
        <h6 class="small-12 grid-block subheader">{{::episode.title}} | {{episode.status}} {{::airdate}}</h6>

        <div class="small-2 grid-block">
          <i class="icon icon--s icon--blue icon--flat mdi mdi-album"></i>
        </div>
      </div>
      <div class="small-12" ng-show="showDownloadButtons">
        <a class="button" ng-click="autoMaticDownload(episode.episodeId)" lx-ripple>Search episode</a>
        <a class="button" zf-open="{{episode.episodeId}}" ng-click="manualDownload(episode.episodeId)" lx-ripple>Manual download</a>
      </div>
    </div>
  </div>



  <div zf-modal="animatedModal" id="{{::episode.episodeId}}">
    <div class="title-bar primary ">
      <div class="toolbar bgc-light-blue-500 pl++">
        <span class="center title">
          Download {{::episode.showTitle}}: {{::episode.number}}
        </span>

        <div class="right">
          <i zf-close="{{::episode.episodeId}}" class="mdi mdi-close"></i>
        </div>
      </div>
    </div>

    <div class="dialog__content">
      <div class="clearfix small-12">
        <div ng-repeat="download in downloads" class="list-row list-row--has-secondary">
          <div class="list-content-tile list-content-tile--two-lines">
            <strong>{{::download.title}}</strong>
            <span>{{::download.quality.quality.name}} | {{download.size/1024/1024}}mb </span>
          </div>

          <div class="list-secondary-tile">
            <i class="icon icon--s icon--blue icon--flat mdi mdi-download"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="dialog__actions">
      <button zf-close="{{::episode.episodeId}}" class="btn btn--m btn--black btn--flat" ng-click="showDownloads = false">Cancel</button>
    </div>
  </div>

</div>
