
<div class="episode" ng-controller="episodeController">
  <!--list-row--has-primary-->
  <div class="grid-block" ng-click="showDownloadButtons = !showDownloadButtons">
    <!--
<div class="list-primary-tile">
<img class="list-primary-tile__img" ng-src="{{episode.posterImage}}">
</div>
-->

    <div class="small-10 grid-block wrap">
      <div class="small-12 grid-block"><h4>{{::episode.showTitle}}</h4><h6 class="subheader">: {{::episode.number}}</h6></div>
      <h6 class="small-12 grid-block subheader">{{::episode.title}} | {{episode.status}} {{::airdate}}</h6>
    </div>

    <div class="small-2 grid-block">
      <i class="icon icon--s icon--blue icon--flat mdi mdi-album"></i>
    </div>
  </div>
  <div class="small-12" ng-show="showDownloadButtons">
    <a class="button" ng-click="autoMaticDownload(episode.episodeId)" lx-ripple>Search episode</a>
    <a class="button" ng-click="manualDownload(episode.episodeId)" lx-ripple>Manual download</a>
  </div>
</div>



<lx-dialog class="dialog dialog--l" id="{{::episode.episodeId}}">
  <div class="dialog__header">
    <div class="toolbar bgc-light-blue-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        Download {{::episode.showTitle}}: {{::episode.number}}
      </span>

      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
          <i class="mdi mdi-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dialog__content">

  </div>

  <div class="dialog__actions">
    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
  </div>
</lx-dialog>