<!--
<div class="serie-general row" ui-sref="viewMovie({id:serie.id})">
<div class="small-3 columns">
<img id="poster" ng-src="{{serie.posterImage}}">
</div>
<div class="small-9 columns">
<h6 id="title" class="series-title">{{serie.title}}</h6>
<span id="airtime">{{serie.airTime}} </span><span id="network" class="label secondary">{{serie.network}}</span>
<span id="episodesCount"> {{serie.episodeFileCount}} / {{serie.episodeCount}}</span>
<span id="status">{{serie.status}}</span>
</div>
<div class="small-3 columns">
</div>
</div>
-->


<li class="list-row list-row--has-primary list-row--has-secondary" ui-sref="viewMovie({id:serie.id})">
  <div class="list-primary-tile">
    <img class="list-primary-tile__img" ng-src="{{serie.posterImage}}">
  </div>

  <div class="list-content-tile list-content-tile--one-line">
    <strong>{{serie.title}}</strong>
    <p style="font-size: 1rem;"> {{serie.airTime}} on {{serie.network}} | {{serie.episodeFileCount}} / {{serie.episodeCount}}</p>
  </div>

</li>