<div class="show"> 
  <div class="row banner" style="background-image: url({{serie.fanartImage}})"></div>
  <div class="row show-information">
    <div class="poster"><img src="{{serie.posterImage}}"></div>
  </div>
  <div class="small-7 small-offset-5 show-info">
    <div class="fs-display-1"><span id="title">{{::serie.title}}</span></div>
    <div class="fs-subhead" id="start-year">
      <i class="fi-social-picasa"></i>Started: {{::serie.year}}
    </div>
    <div id="show-status">
      <i class="fi-play"></i>{{::serie.status}}
    </div>
    <div><i class="fi-book"></i>
      <span id="seasons">Seasons: {{::serie.seasonCount}}</span>
      <span id="episodes" class="episodes label">{{serie.episodeFileCount}} / {{serie.episodeCount}}</span>
    </div>
    <div><i class="fi-calendar"></i>
      <span id="air-time">{{::serie.airTime}}</span> on 
      <span id="network" class="network label secondary round">{{::serie.network}}</span>
    </div>
  </div>
  <div class="small-12">
    <p id="summary" class="summary p+">{{::serie.overview}}</p>
  </div>
  <div class="row episodes">
    <div class="season-selector">
      <div class="small-8 columns">
        <select id="selected-season" ng-model="serie.selectedSeason" ng-options="season.id as season.label for season in serie.formattedSeasons">
        </select>

        </label> 
    </div>
    <div class="small-4 columns" id="watched"> </div>
  </div>

  <div class="clearfix small-12">
    <div classs="small-12" ng-repeat="episode in episodes | filter : {seasonNumber : serie.selectedSeason} | orderBy : 'episodeNumber'" data-ng-include data-src="'partials/episode.html'"></div>
  </div>
</div>
</div>