<div class="row episode">
  <div class="small-10 columns episode-info">
    <div class="series-title">{{episode?.series?.title}}</div>
    <div class="episode-title">
      <span class="episodenum">{{getEpisodeNumber()}}</span>
      <span class="episodename">{{episode?.title}}</span>
    </div>
    <div class="episode-info">
      <span *ngIf="!episode.hasFile" class="label secondary">Missing</span>
      <span *ngIf="episode.hasFile" class="label success">Downloaded</span>
      <span class="date">{{isAirdateBeforeNow() ? 'Aired' : 'Airs'}} {{episode.airDateUtc | timeAgo}}</span>
    </div>
  </div>
  <div class="small-2 columns monitored-indicator">
    <i class="material-icons" *ngIf="episode.monitored">bookmark</i>
    <i class="material-icons" *ngIf="!episode.monitored">bookmark_border</i>
  </div>
</div>
